<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">nlxExtendedShopwareLogging</label>
    <label lang="en">nlxExtendedShopwareLogging</label>
    <version>1.1.0</version>
    <copyright>(c) by netlogix GmbH &amp; Co. KG</copyright>
    <license>Proprietary</license>
    <link>https://websolutions.netlogix.de/</link>
    <author>netlogix GmbH &amp; Co. KG</author>

    <description lang="de">
        Plugin, um Fehler durch Sammeln von weiteren Systeminformationen einfacher zu beheben.
    </description>
    <description lang="en">
        Plugin for collecting additional information to ease bugfix development.
    </description>

    <compatibility minVersion="5.6.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="de">Informationen über das Shopware internem Routing werden jetzt für Problembehebungen gesammelt</changes>
        <changes lang="en">Added logging for the shopware internal routing</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="de">Feature basiertes Logging und Logging für Shopware Cronjobs hinzugefügt.</changes>
        <changes lang="en">Added feature based logging and logging for cronjobs.</changes>
    </changelog>
</plugin>
